@media all and (max-width:750px) {
	body{
		margin: 0px;
	}
	header{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.1em;
	}
	h5{
		margin: 0px;
	}
	#header_home{
		width: 100%;
	}
                                                  

	nav{
		max-height: 45px;
	}
	#nav_Log{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	margin-bottom: 5px;
	width: 100%;
}
	nav ul{
		margin: 0px;
   		margin-right: 0px;
		border-radius: 2px;
		margin-right: 0px;
		max-height: 35px;
	
	}
	ul li{
		border-right: none;
		padding-right: 10px;
		padding-left: 10px;
	}
	nav a{
		font-size: 0.8em;
	}
/*-----------------------END HEADER-----------------------------*/

/*-----------------------ALL CHAPTERS-----------------------------*/
	.news{/*All chapters and chapter's view*/
		width: 98%;
		height: inherit;
		border-left: none;
		border-right: none;
	}
	.thumbnail{
		padding: 0px;
		width: 100%;
		margin-bottom: 5px;
	}



/*---------------------LOG IN CONNEXION SECTION--------------------*/
	#subBlock{
		height: inherit;
		width: 95%;
	}
	.formulaire{
		width: 95%;
		padding-bottom: 5px;
	}
/*---------------------END LOG IN CONNEXION SECTION--------------------*/


/*---------------------ADMIN SECTION--------------------*/

	#adminPannel{
		display: flex;
		flex-direction: column;

	}

	p.warning{
		font-size: 1em;
	}
}