/* ------------- POLICES DU SITE ------------- */

@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'robotobold';
    src: url('../font/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'robotomedium';
    src: url('../font/Roboto-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'robotoblack';
    src: url('../font/Roboto-Black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
/* ------------- REGLES DU SITE ------------- */
body{
	background-image: url("Lituya_Bay_Alaska.jpg");
	margin: 5px;
}
h1{
font-family: 'roboto';
	color:#041F33;
	font-size: 3.2em;
	margin: auto;
	text-align: center;
}
h2{	
font-size: 1.6em;
}
h3{
margin:2px;
text-align: center;
font-family: 'roboto', sans-serif;
}
h4{
font-family: 'roboto', sans-serif;
margin:0px;
text-align: center;
font-size:1.2em; 
border: solid 1px;
background: #0B8AA1;
color:white;
}
h5 a{
	font-family: 'roboto', sans-serif;
	font-size: 1.2em;
	color: white;
	margin: 0px;
}
h5{
	background:  #0B8AA1;
	margin:5px;
	text-align: center;
}
p{
	font-family: 'roboto', sans-serif;
	
}
/*Page HOME*/
  
  /* ------------- HEADER ------------- */
  /*------------------Beginning of HEADER----------------------*/
a{
	text-decoration: none;
}

#header_home{
	height:120px;
	background: white;
	display: flex;
	flex-direction: column;
	height:120px;
	display: flex;
	flex-direction: column;
	width:65%;
	margin: auto;
}
h1 a{
	color:#041F33;
}
h2{	
	font-family: 'roboto', sans-serif;
	color:#041F33;
	margin: 0px;
	padding-top: 15px;
}
/*end HEADER*/
/*-----------------INDEX.PHP CSS STYLES--------------------*/

#home{
	height:35px;
	width:30%;
	margin: auto;
    background: #094A78;
    border-radius: 10px;
    border: 2px solid white;
    font-family: 'Arial';
    padding: 10px;
}
#home a{
	color: white;
	font-size: 1.2em;
	
}
	/*SURVOL SOURIS*/
	#home a:hover{
	    background: #052942;
	    height: inherit;
	    /*font-weight: bold;*/
	}
	/*FIN SURVOL SOURIS */

/*Fin Page d'accueil*/

/*Page HOME*/
  /* ------------- HEADER ------------- */

/* Mise en page header image + le fond */


header{
    text-align: center;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    max-width: 100%;
    margin: 15px 0;
}
/* Mise en page header image + le fond */
  


section{
	background:rgba(255,255,255,0.8);
	/*height: 790px;*/
}
.news {
	margin: auto;
	background: white;
	width:80%;
	height: inherit;
	border-left: solid #052942 1px;
    border-right: solid #052942 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p.warningAcces{
	font-size: 1.2em;
	height: 700px;
}
p.warning{

	font-style: italic;
	font-size: 0.9em;
	margin: 5px;
	margin-bottom: 5px;
}


.commentaire{

	font-style: italic;
	font-size: 0.9em;
	margin: 5px;
	margin-bottom: 5px;
}

#SideBlog{
	background: white;
    border: #052942 2px inset;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
	display: flex;
	flex-direction: column;
	width: 80%;
	font-family: 'Arial';
}

#presentation{
	background: white;
    border: #052942 2px inset;
    margin: auto;
    width: 60%;
    padding: 10px;}

#author{
	text-align: center;
	margin-bottom: 10px;
	background: white;
    border-radius: 5px;
    box-shadow: none;
    margin: auto;
    margin-top: 5px;
    font-size: 1em;
}

#comment{ 
	background: #ffffffb5;
	width: 60%;
	margin: auto;
	border-left: solid 1px #052942;
	border-right: solid 1px #052942;
    padding: 5px;
}

#editpost{
	background: #ffffffb5;
	width: 60%;
	margin: auto;
	border-left: solid 1px #052942;
	border-right: solid 1px #052942;
    padding: 5px;}


#getNewPost{
	background: #ffffffb5;
	width: 60%;
	margin: auto;
	border-left: solid 1px #052942;
	border-right: solid 1px #052942;
    padding: 5px;}

#gestionBlock{
	display: flex;
    flex-direction: column;
    width: 80%;
    height: 570px;
    margin-bottom: 10px;
    padding:10px;
    background: rgba(37,138,161, 0.2);
}

#postAdmin{
	background: white;
    border: #052942 2px inset;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#WritPost{
	background: white;
	width: 75%;
    border-left: 2px #052942 solid;
    padding: 5px;
        display: flex;
    flex-direction: column;
    align-items: center;
}

#deletePost{
	border-bottom:#ff00006b solid 2px;
	border-radius: 5px;
	margin: 10px;
    padding: 5px;
    font-size: 0.9em;
    
}

#changeButton{
	border-bottom:#052942 solid 2px;
	border-radius: 5px;
	margin: 10px;
    padding: 5px;
    font-size: 0.9em;
    
}
